body {
  background-color: rgb(48, 22, 139);
}

tr{
  height: 50px;
}

.top {
  background-color: rgb(255, 255, 255);
  width: 55vw;
  margin: 200px auto;
  padding: 20px 20px;
  border-radius: 2%;
}

.top-title {
  font-size: 30px;
}

.top-from-tetle {
/* 下記の％を変更することによってバランスが崩れてしまった */
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.top-from {
  margin-bottom: 20px;
}

/* 下記のコードでレイアウトが崩れたがクラス(.list-frist)を変更することで問題は解消された */
.list-frist {
  display: flex;
  /* 下記のコードの場合はレイアウトが崩れる */
  justify-content:  space-between;
  /* 下記のコードの場合はレイアウトは崩れないがおかしいまま */
  /* flex-wrap: wrap; */
  margin-left: 20px;
}

/* .list-second {
  padding-left: 300px;
} */

.list-third{
  padding-left: 150px;
}

/* .list-todo{
  margin-left: 50px;
} */

.list-todo td {
  text-align: center;
}

.todo-upd{
  border: 1px solid #ccc;
  border-radius: 5px;
}

.from-btn_add{
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
  color: #ff08ea;
  border: 2px solid #ff08ea;
  padding: 5px 15px;
  border-radius: 5px;
}

.from-btn_upd{
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
  color: #f56827;
  border: 2px solid #f56827;
  padding: 5px 15px;
  border-radius: 5px;
}

.from-btn_del{
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
  color: #3affdee8;
  border: 2px solid #3affdee8;
  padding: 5px 15px;
  border-radius: 5px;
}

