body {
  background-color: rgb(48, 22, 139);
}

tr {
  height: 50px;
}

.top {
  background-color: rgb(255, 255, 255);
  width: 55vw;
  margin: 250px auto;
  padding: 20px 20px;
  border-radius: 2%;
}

.top-title {
  font-size: 25px;
  font-weight: bold;
}

.top-from-tetle {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.top-from {
  margin-bottom: 20px;
}

.from {
  display: flex;
}

.list-frist {
  margin-left: 70px;
  padding-left: 50px;
}

.list-third {
  padding-left: 60px;
}

.list-four {
  padding-left: 170px;
}

.list-five {
  padding-left: 175px;
}

.list-six {
  padding-left: 75px;
}

.list-todo {
  width: 100%;
  padding-left: 50px;
}

.list-todo td {
  vertical-align: baseline;
}

.todo-upd {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 50px;
  width: 125%;
}

.from-btn_add {
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
  color: #ce00bd;
  border: 2px solid #ce00bd;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}

.from-btn_add:hover {
  background-color: #ce00bd;
  border-color: #ce00bd;
  color: #fff;
}

.from-btn_upd {
  margin-left: 160px;
  background-color: rgb(255, 255, 255);
  color: #f56827;
  border: 2px solid #f56827;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}

.from-btn_upd:hover {
  background-color: #fa9770;
  border-color: #fa9770;
  color: #fff;
}

.from-btn_del {
  margin-left: 60px;
  background-color: rgb(255, 255, 255);
  color: #3affdee8;
  border: 2px solid #3affdee8;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  outline: none;
}

.from-btn_del:hover {
  background-color: #3affdee8;
  border-color: #3affdee8;
  color: #fff;
}